.footer {
  background-color:#A67B5B;
  padding: 10px;
  text-align: center;
  margin-top: 10px;

}
ul > li {
  list-style-type: none;
  display: inline-block;
  padding: 0px px;
  padding-left: 0px;

}

ul {
  padding-left: 0px;
  font-size: 25px;
}

.footer li {
  color: white;
}
